body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden{
    display: none;
}

img {
    margin-bottom: 30px;
}

#clock {
    font-size:100px;
}

#todo-form input {
    background-color: aqua;
    width: 50vw;
}

#todo-list li {
    font-size: 20px;
}

#todo-list li span {
    margin-left: 5px;
    margin-right: 5px;
}

#todo-list button {
    width: 30px;
}